#answerCallModal {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1.5rem;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 180px;
    border-radius: 8px;
    background-color: var(--color-black);
    color: var(--color-white);
    border: 1px solid var(--color-white);
    border-right: none;
    border-left: none;
    scrollbar-color: black #FFFFFF20;
    overflow-x: hidden;

    & .answerCallModal__title {
        font-family: "LINE Seed JP", sans-serif;
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        color: var(--color-username);
    }

    & .answerCallModal__buttons {
        display: flex;
        justify-content: space-between;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}