#roomPasswordModal {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.5rem;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    border-radius: 8px;
    background-color: var(--color-black);
    color: var(--color-white);
    border: 1px solid var(--color-white);
    border-right: none;
    border-left: none;
    scrollbar-color: black #FFFFFF20;
    overflow-x: hidden;

    & .password-room__header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 1rem;

        & .password__input {
            background-color: var(--color-chat-background);
            padding: 0.3rem;
            outline: none;
            border: 1px solid #d7cdcd63;
            border-radius: 4px;
            color: var(--color-white);
            margin-left: 1rem;
            margin-right: 1rem;
        }

        & .roomPasswordModal__title {
            font-family: "LINE Seed JP", sans-serif;
            font-size: 1.1rem;
            padding: 0.5rem 1rem;
            color: var(--color-white);
            text-align: center;

            & .room-name {
                color: var(--color-username);
            }
        }
    }

    & .roomPasswordModal__buttons {
        display: flex;
        justify-content: space-between;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    & .error-message {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 0.8rem;
        text-align: center;
    }
}