#userList {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: 1rem;
    background-color: #242428;
    width: 350px;
    border-left: 1px solid var(--color-border);
    border-top: 1px solid var(--color-border);
    max-height: 100vh;
    height: 100%;

    & .userList-title {
        font-family: "LINE Seed JP", sans-serif;
        font-size: 14px;
        padding-bottom: 1rem;
        color: lightgray;
    }
}

@media (max-width: 1050px) {
    #userList {
        & .userList-title {
            width: 110px;
        }
    }
}