#roomsPage {
    display: flex;
    flex-direction: row;
}

#roomsPage:has(.inCall-lock-room) {
    & #namespaceMenu,
    & #roomList,
    & #conversationList {
        filter: brightness(0.3);
        pointer-events: none;
    }
}