#roomsPage {
    display: flex;
    flex-direction: row;
    position: relative;
}

#roomsPage:has(.inCall-lock-room) {
    & #namespaceMenu,
    & #roomList,
    & #conversationList {
        filter: brightness(0.3);
        pointer-events: none;
    }
}

@media (max-width: 1050px) {
    #roomsPage {
        & #conversationList,
        & #roomList,
        & #namespaceMenu {
            display: none;
        }
    }
}