& .namespace-room {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 1rem;
    cursor: pointer;
    width: 265px;

    & .room-section {
        display: flex;
        gap: 0.4rem;

        & .room-icon {
            width: 20px;
            height: 20px;
            filter: brightness(0.5);
        }

        & .room-name {
            font-size: 1rem;
            letter-spacing: 1px;
            color: var(--color-text);
            font-weight: 100;
        }

        & .active-room {
            font-weight: 600;
            color: var(--color-white);
            font-size: 1.1rem;
            letter-spacing: 1px;
        }

        & .unreadMessages {
            align-content: center;
            text-align: center;
            min-width: 20px;
            font-size: 0.7rem;
            color: var(--color-white);
            border: 1px solid var(--color-white);
            border-radius: 100%;
            padding-left: 0.3rem;
            padding-right: 0.3rem;
        }
    }

    & .room-section:has(.active-room) {
        & .room-icon {
            filter: brightness(1);
        }
    }

    &:hover {
        background-color: var(--color-highlight);
        border-radius: 4px;
    }

    &:has(.active-room) {
        background-color: var(--color-highlight);
        border-radius: 4px;
        cursor: default;
    }

    & .leave-room__button {
        align-self: center;
        font-size: 10px;
        cursor: pointer;
        padding: 0.5rem;
        border-radius: 4px;

        &:hover {
            background-color: var(--color-highlight);
        }
    }
}

@media (max-width: 1050px) {
    & .namespace-room {
        width: 100%;
    }
}