#roomChat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    background-color: var(--color-background-light);
    border-top: 1px solid var(--color-border);

    & .select-room__text {
        height: 100%;
        align-content: center;
        align-self: center;
        font-family: "LINE Seed JP", sans-serif;
        font-size: 2rem;
        color: var(--color-white);
    }

    & #message-area {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        max-width: 1000px;
        height: 100%;
        max-height: 825px;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    & #chat-message {
        display: flex;
        gap: 1rem;
        width: 100%;
        background-color: var(--color-chat-background);
        border-radius: 4px;
        margin-bottom: 3rem;

        & .text-input {
            width: 100%;
            background-color: var(--color-chat-background);
            padding: 0.3rem;
            outline: none;
            border: 1px solid #d7cdcd63;
            border-radius: 4px;
            color: var(--color-white);
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }
}