& .dm-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 1rem;
    cursor: pointer;

    & .dm-section {
        display: flex;
        gap: 0.4rem;

        & .dm-name {
            font-size: 1rem;
            letter-spacing: 1px;
            color: var(--color-text);
        }

        & .active-dm {
            font-weight: 600;
            color: var(--color-white);
            font-size: 1.1rem;
            letter-spacing: 1px;
        }

        & .active-call {
            width: 17px;
        }
    }

    &:hover {
        background-color: var(--color-highlight);
        border-radius: 4px;
    }

    &:has(.active-dm) {
        background-color: var(--color-highlight);
        border-radius: 4px;
        cursor: default;
    }

    & .leave-dm__button {
        align-self: center;
        font-size: 10px;
        cursor: pointer;
        padding: 0.5rem;
        border-radius: 4px;

        &:hover {
            background-color: var(--color-highlight);
        }
    }
}