@import url('https://fonts.googleapis.com/css2?family=LINE+Seed+JP');

:root {
    --color-background-dark: #121214;
    --color-background-light: #242428;
    --color-black: #000000;
    --color-border: #d7cdcd20;
    --color-highlight: #d7cdcd20;
    --color-text: #606064;
    --color-warning: red;
    --color-white: #FFFFFF;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    display: flex;
    justify-items: center;
    min-height: 100vh;
    overflow-x: hidden;
    width: 100%;

    & #root {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
}

main {
    display: flex;
    flex: 1;
}



/*********
* Modals *
*********/

::backdrop {
    background-image: linear-gradient(
        45deg,
        var(--color-white),
        var(--color-black),
        var(--color-black),
        var(--color-white)
    );
    opacity: 0.75;
}






/***********
* Messages *
***********/

.message {
    font-family: "LINE Seed JP", sans-serif;
    font-size: 1rem;
    color: white;
}

.error-message {
    color: var(--color-warning);
}